*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.Page{
    display: flex;
}

input{
    color: rgb(92, 92, 92);
}

main{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh; 
    background: #232443;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}
