*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: ;
}

.Page{
    display: flex;
}

main{
    width: 100%;
    height: 100vh; 
    background: #232443;
}
