*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.Page{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: ;
}

main{
    width: 100%;
    height: 100vh; 
    background: #232443;
}
