*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #232443;

}

.Page{
    display: flex;
}


h1, h2, h3, h4, h5, h6, p, span{
    color: #fff;
}

input{
    color: rgb(92, 92, 92);
}

a{
    text-decoration: none;
    color: #fff;
    font-size: 16pt;
}



main{
    display: flex;
    flex-direction: column;
    width: 95vw;
    background
    height: 100%; 
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;

}
