.fragrancia{
    padding-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;


    h1{
        text-align: center;
    }

    > h1, input, button, .list-area{
        width: 72vw;
        border-radius: 7px;
    }
    
    >input, button{
        height: 35px;
        padding: 5px;
        font-weight: bold;
    }
    
    .separator{
        margin-top: 10px;
        width: 72vw;
        border-top: 0.5px solid rgb(255, 255, 255);
    }
    
    .list-area{
        margin-top: 40px;
        background: #fff;
        min-height: 30vh;
        overflow-y: scroll;
    }
}