aside{
    padding-top: 50px;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: baseline;

    width: 5vw;
    height: 100vh;
    background: #FF9A00;

    > div{
        
    }
}