aside{
    padding-top: 50px;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: baseline;

    width: 5vw;
    height: 100vh;
    background: #FF9A00;

    > div{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 40px;
        padding: 10px 0;


        img{
            width: 30px;
            height: 30px;
            margin-bottom: 10px;
            cursor: pointer;
        }
        .Link{
            display: none,
        }
    }

    > div:hover{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 40px;
        background: #CC7B00;
        padding: 10px 0;


        img{
            width: 30px;
            height: 30px;
            margin-bottom: 10px;
            cursor: pointer;
        }
        .Link{
            display: flex;
        }
    }
}