.Home{
    gap: 70px;


    div{
        display: flex;
        fle
        textarea{
            width: 70vw;
        }
    }
}



.filterArea{
    display: flex;
    flex-direction: row;
    gap: 20px;
}