.Home{
    gap: 70px;


    .contra-rotulo{
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: left;
        gap: 10px;
        textarea{
            width: 72vw;
        }
    }
}



.filterArea{
    display: flex;
    flex-direction: row;
    gap: 20px;
}