.Home{
    gap: 70px;
    
    .filterArea{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        gap: 50px;
        width: 72vw;

    }

    .contra-rotulo{
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: left;
        gap: 5px;

        .filter-rotulo{
            width: 72vw;
            height: 35px;
            border-radius: 5px;

        }

        span {
            font-size: 16pt;
        }

        > textarea{
            width: 72vw;
            resize: vertical;
            min-height: 25vh;
            border-radius: 10px;

        }

        button{
            height: 50px;
            width: 72vw;
            border-radius: 5px;
            font-size: 16pt;
            color: #6D6D6D;
        }
    }
}


