.rotulo{
    width: 72vw;
    height: 30vh;
    background: #c3e918;

    display: flex;
    flex-direction: column;
    
    .title-rotulo{
        padd
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        
        img{
            width: 5vh;
            height: 5vh;
        }
        h2{
            color: #232443;
        }
    }

}