.rotulo{
    width: 72vw;
    height: 40vh;
    background: #ffffff;

    display: flex;
    flex-direction: column;
    
    .title-rotulo{
        padding: 5px 15px;
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        
        img{
            width: 5vh;
            height: 5vh;
        }
        h2{
            color: #232443;
        }
    }

    .sub-rotulo{
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 20px;

        textarea{
            width: 450px;
            min-height: 150px;
            resize: vertical;
        }
        
        div{
            display: flex;
            box-sizing: border-box;
            height: 150px;
            width: 230px;
            background: #232443;
            flex-direction: column;
            padding: 10px;
            
            div{
                width: 100%;
                display: flex;
                justify-content: space-between;
                flex-direction: row;


                > span{
                    font-size: 10pt;
                    color: rgb(255, 255, 255);
                }
            }
        }
        
        .codigo-de-barras{
            display: flex;
            justify-content: center;
            justify-items: center;
            align-items: center;
            align-content: center;
            height: 150px;
            width: 200px;
            background: #ffff;
            background-color: #232443;

            

            img{
                width: 180px;
                height: 128px;
            }
        }
        
    }
    
}