.rotulo{
    width: 72vw;
    height: 30vh;
    background: #ffffff;

    display: flex;
    flex-direction: row;

    .title-rotulo{
        display: flex;
        flex-direction: row;
        
    }

}