.rotulo{
    width: 72vw;
    height: 30vh;
    background: #ffffff;

    display: flex;
    flex-direction: column;
    justify-content: ;

    .title-rotulo{
        display: flex;
        flex-direction: row;
        width: 100%;
        
        img{
            width: 5vh;
            height: 5vh;
        }
        h2{
            color: #232443;
        }
    }

}