.codigo-de-barras{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
    gap: 45px;

    .boxs-area{
        width: 72vw;
        display: flex;
        flex-direction: row;
        background: red;
    }
}